<%= form_tag interests_path do %>
  <% if @old_interests %>
    <% @old_interests.each do |interest| %>
      <div class="row">
        <!-- possibly add a fields_for tag here !-->
        <div class = "small-offset-3 small-6 columns">
          <%= label_tag :interest, class: 'input-group-label' %>
          <%= text_field_tag :interest %> <!-- possibly change text_field_tag to f.text_field !-->
        </div>
        <div class = "small-offset-3 columns"></div>
      </div>
    <% end %>
  <% end %>
  <% @interests.each do |interest| %>
    <div class="row">
      <div class = "small-offset-3 small-6 columns">
        <%= label_tag :interest, class: 'input-group-label' %>
        <%= text_field_tag :interest %>
      </div>
      <div class = "small-offset-3 columns"></div>
    </div>
  <% end %>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= submit_tag "Add Interest", class: "hollow button defcon-5" %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>
<% end %>
