<div class="big-card">
  <div class="row">
    <h2 class="text-center">Sign In</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :email, class: 'input-group-label' %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class = "small-offset-3 columns"></div>
  </div>

  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :password, class: 'input-group-label' %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class = "small-offset-3 columns"></div>
    <% if devise_mapping.rememberable? -%>
    <div class="small-offset-3 small-6 columns">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class = "small-offset-3 columns"></div>
    <% end -%>
  </div>

  <%= f.submit "Sign In", class: "button" %>

  <%= render "devise/shared/links" %>

  <div class='hollow button go-back'>
    <%= link_to "Go Back", root_path %>
  </div>
  <% end %>
</div>
